<app-navbar></app-navbar>
<div class="div"
  style="display: flex; flex-direction: column; justify-content: center; width: 100%; align-items: center; min-height: 50vh">
  <div class="dive" style="display: flex; padding: 10%; flex-direction: column;">
    <div class="grid grid-cols-1 mt-6 text-center sm:text-left">
      <h1 class="text-4xl mb-12" >Bem vindo ao NoobForNoob - A maior WorkAround </h1>
      <h4 class="text-2xl" > Este projeto é totalmente voluntário para a comunidade <em>sinta-se muito bem vindo!</em> Se estiver afim de:
        <ul class="list-disc">
          <li>Estudar</li>
          <li>Sugerir idéias</li>
          <li>Entrar em contato comigo :D </li>
        </ul>
        Este é o lugar certo!
      </h4>
    </div>
    <hr>
    <div class="grid grid-cols-1 mt-6">
      <h1 class="text-2xl font-bold mb-4">Sobre o projeto:</h1>
      <p class="mb-4">Antes de mais nada, acredito que devo algumas explicações sobre como funciona este Website, eu
        criei esta
        aplicação para
        que eu pudesse, antes de mais nada aprender hahah, e também poder retribuir para quem também quer aprender,
        Então
        não espere uma linguagem formal aqui não taok? a ideia é que eu vou te ensinar do meu jeito, do jeito simprão.
        Então com vai ser, atualmente estou participando de um projeto que usa typescript, Angular v15 e firebase.
        Então a minha idéia surgiu por conta de quando eu fui procurar não encontrei muita coisa BR sobre o angular, logico que tem muitas pessoas
        que sempre fizeram conteúdo a Loiane é monstra por Ex, mas eu nunca consegui entender mto bem os tutoriais kk,
         ou eles estavam desatualizados e eu não conseguia usar nos meus projetos ou eram de um indiano com o inglês complicado de entender kk.
        Mas eu me virei e hj posso passar de iniciante para iniciante algumas dicas e explicações. Aqui vai exigir de você
      </p>
      <ul class="list-disc font-bold mb-2">
        <li>Conhecimento em HTML, CSS e Javascript.</li>
      </ul>

      <p>Mermão não adianta se você quer aprender a como utilizar um framework primeiro tem que aprender a base, NÃO
        PULE O PROCESSO.
        Por acaso tu aprendeu primeiro a correr dps a andar? Então pega bem a base, entende o que é lógica de
        programação, entende o que é
        DOM classes variaveis blablabla e depois tu cola aq fecho?
      </p>
    </div>
    <div class="text-2xl mt-6 ">
      <h1>Então sem mais delongas, vamos ao que interessa</h1>
      <h4>Gafanhoto(a), aqui vai ser da seguinte forma, vamos ter essa abinha linda aqui ó, chamada <em><a
            [routerLink]="['study']">Estudar</a></em>
        aqui a mágica vai acontecer, eu quero fazer da maneira mais dinâmica possível pra que você consiga ler, entender
        e aplicar.</h4>
      <em class="text-sm font-bold">ps: essa é a receita pra fica bão</em>
      <p>Então aí teremos os tutoriais, dicas e projetos (CRUD)</p>

    </div>
    <div class="text-xl mt-6">
      <h4> Na aba de <em class="font-bold ">Forúm</em>, nego(a) véio(a) aí é aonde VOCÊ, vai poder agregar aq
        com o pai, esse link te leva pra onde?
        Pro forúm baby, lá vai ta tudo, se você acha que da pra mete um tutorial ai que você fez de um jeito 
        diferenciado e ta funcionando manda bala tigrão, negócio aqui é coração de mãe sempre cabe mais tendeu, então pô, lancei
        um projetasso aqui que fiz num curso e pá, ou fiz da minha cabeça memo, manda ai fiot, manda e faz um textão
        bonito, explicando
        o porque do quê você fez isso e pq fez dessa forma como chegou nisso e explica do seu jeitão tendeu? Ngm aqui
        vai julgar se é
        básico ou não o que importa é fazer volume, o básico pra você pode tá sendo dificil pra outra pessoa, então vamo
        se ajuda ai
        que espaço tem pra geral e todo mundo merece uma chance.
        Irmão o jeito que você pode tirar a prova de que aprendeu mesmo o que você ta fazendo é <em>EXPLICANDO</em>, po
        meu querido
        se você consegue explicar pra um novato como que fez e o que faz irmão isso mostra tua senioridade no assunto,
        então mete marcha
        fala do seu jeitão não precisa querer ser formal ñ, aq é um espaço pra aprender de um jeito mais
        <em>DESCOMPLICADO.</em>
        Se por acaso você ainda não entender alguma coisa, manda também o tuto que você não entendeu que eu vou ver o
        que da pra facilitar fecho? Ex: 'Não consegui usar o colorPicker :('
        <br>
        E também claro se você já é mais experiente ou se flagrou algum erro ou alguma melhoria no site, se viu que da
        pra fazer alguma coisa ai
        de outro jeito, fala memo se acanhe não.
      </h4>

    </div>
    <div class="mt-8" >
      <h1 class="text-3xl">E claro também preciso vender meu peixito né? seguinte vai ter essa aba aq de 
        <a [routerLink]="['contato']"><em>"Entrar em contato comigo
          :D "</em></a></h1>

      <h4 class="text-lg mb-12" >É para os casos de que se, você é um recruiter, uma alma boa que queira trabalhar junto comigo na sua empresa
        e pode me indicar,
        um possível cliente (Faço freela também), ou quer paga o cafézão essa página vai te mostrar a como entrar em
        contato com este quem vos fala.
        <br>
        <em>No mais é isto taok? Da um confere ali na NavBar aproveite bem e boa sorte na sua caminhada!</em>
      </h4>
    </div>
  </div>
</div>