.container{
    min-width: 100%;
    min-height: 100%;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.box{
    min-height: 400px;
    display:flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    box-shadow: -2px  3px 6px black;
}
h1,h2,h3,h4,h5{
    font-size: 10vw;
    color: #fff;
}
p{
    font-weight: 400;
    color: #fff;
    opacity: .55;
}


.icon{
    display: flex;
    justify-content: center;
}
mat-icon{
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-size: 65vw;
}
@media screen and (min-width: 768px){
    mat-icon{
        font-size: 25vw !important;
    }
    h1,h2,h3,h4,h5{
        font-size: 5vw;
    }
}