<div class="container">
    <div class="icon">
        <mat-icon>lock_reset</mat-icon>
        </div>
    <div class="box">
        <h2 class="title">Esqueci a senha</h2>
        <p class="italic">Não se preocupe isso acontece ! Apenas digite o seu email associado a conta para receber o link!</p>
        <input type="email" [(ngModel)]="email" placeholder="Email da conta">
        
        <a [routerLink]="['']"><p class="italic" >Cancelar</p></a>
        <div class="bt mb-8 flex justify-center"><button mat-flat-button  (click)="sendPasswordResetEmail()">Enviar link</button></div>
    </div>
    
    
</div>